# Μην ανεβάσεις τα βίντεο
**/ai_videos/*.mp4
**/ai_videos/*.avi
*.mp4
*.avi

# Μην ανεβάσεις το μοντέλο του YOLO (θα το κατεβάσει το Docker μόνο του)
**/models/*.pt
yolov8n.pt

# Μην ανεβάσεις τα δεδομένα της βάσης δεδομένων
**/mysql_data/

# Python σκουπίδια
__pycache__/
*.pyc